/* CSS declarations go here */
nav + .container {padding-top: 60px; padding-bottom: 60px;}

.map-container {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 50px;
}

.groups-filter {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 50px;
    bottom: 50px;
    margin: 0;
}

.notifications-button {
    padding: 10px 0;
}
